<div class="page-header p-3">

<div class="row">
  <div class="col-md-6 offset-md-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <h3>You loved the <%= @dish.name %> at...
          <% if @dish.cuisine.present? %>
            <span class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </span>
          <% end %>
      </h3>
      </li>
      
      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
              <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control-sm", :placeholder => "Choose a venue") %>
              <input type="hidden" name="dish_id" value="<%= @dish.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="notes" value="">
              <button class="btn-sm btn-primary">
                <i class="fa fa-heart"></i>
              </button>
        </form>
      </li>

      <% if @bookmarks.present? %>
        <% @bookmarks.each do |bookmark| %>
          <li class="list-group-item">
            <p>
              <a href="/venues/<%= bookmark.venue_id %>">
                <%= bookmark.venue.name %>
              </a>
                <a href="/venues/<%= bookmark.venue.id %>/edit" class="btn btn-link float-right">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="/delete_venue/<%= bookmark.venue.id %>" class="btn btn-link float-right" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
            </p>
          </li>
        <% end %>
      <% end %>
      
    </ul>
  </div>
</div>

</div>
